<h1><%= @task[:title] %></h1>
<h2></h2>
<h2><%= @task[:details] %></h2>
<h2></h2>


<% if @task[:completed] == true %>
<% status = "This task is completed" %>
<% else status = "This task is not completed" %>
<% end %>

<% if @task[:completed] == true %>
 <% @status = "checked" %>
<% else @status = "" %>
<% end %>

<input type="checkbox" name="task" <%=@status%>> <%= link_to "#{status}", task_path(@task[:id]) %><br>

<p><%= link_to "Back to all tasks", tasks_path %></p>
<p><%= link_to "Edit", edit_task_path(@task[:id]) %></p>




